/* ===== Base Styles ===== */
.about-section {
  padding: 4em 0;
  background: var(--bg-primary);
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

.section-title {
  font-size: 2.5em;
  color: var(--primary-text-color);
  margin-bottom: 0.5em;
  text-align: center;
}

.section-subtitle {
  font-size: 1.2em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 3em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* ===== Mission Section ===== */
.mission-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  margin: 3em 0;
}

.mission-card {
  background: var(--bg-secondary);
  border-radius: 1em;
  padding: 2em;
  text-align: center;
  transition: transform 0.3s ease;
}

.mission-card:hover {
  transform: translateY(-5px);
}

.mission-icon {
  font-size: 3em;
  margin-bottom: 1em;
}

.mission-content h3 {
  font-size: 1.5em;
  color: var(--primary-text-color);
  margin-bottom: 0.8em;
}

.mission-content p,
.mission-content li {
  color: var(--secondary-text-color);
  line-height: 1.6;
}

.mission-content ul {
  list-style: none;
  padding: 0;
}

.mission-content li {
  margin-bottom: 0.5em;
  position: relative;
  padding-left: 1.5em;
}



/* ===== Team Section ===== */
.team-section {
  margin-top: 5em;
  padding-top: 5em;
  border-top: 1px solid var(--border-color);
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
  gap: 2em;
  margin-top: 3em;
}

.team-card {
  background: var(--bg-secondary);
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
  padding:1em 0;
}

.team-card:hover {
  transform: translateY(-5px);
}

.team-card>img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.team-info {
  padding: 1.5em;
}

.team-info h3 {
  font-size: 1.3em;
  color: var(--primary-text-color);
  margin-bottom: 0.3em;
}

.role {
  color: var(--accent-color);
  font-weight: bold;
  margin-bottom: 1em;
}

.bio {
  color: var(--secondary-text-color);
  line-height: 1.6;
  margin-bottom: 1.5em;
}

.social-links {
	width: 100%;
	height: 3em;
    display: flex;
    align-items: center;
    gap:1em;
}

.social-links img {
  width: 1.5em;
  height:1.5em;
}


/* Responsive */
@media (max-width: 786px) {
  .section-title {
    font-size: 2em;
  }
  
  .mission-grid,
  .team-grid {
    grid-template-columns: 1fr;
  }
}


.team-img-cont{
	height: 15em;
	width: 15em;
	border-radius: 50%;
	overflow:hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	background-position: center;
	background-color: var(--team-img-bg);
	background-size: contain;
	background-repeat: no-repeat;
}
#pushkar-img{
	background-image:url("../../assets/team/pk.png");

}
