.home-header {

	width: 100%;
	height: 3em;
	background: var(--body-bg);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	padding: 0 1em;
	box-shadow: 0 2px 4px 0px rgba(144, 80, 182, 0.1);
	z-index: 3;
	color: var(--primary-text-color);
	box-sizing: border-box;
	border-bottom:1px solid #e9e5fa;
}
.home-header *{box-sizing:border-box;}
.logo-cont {

	height: 100%;
	width: 30%;
	background: url("../assets/logo.png") no-repeat;
	background: transparent;

	background-position: center;
	background-size: contain;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;


}



.acc {
	display: none;
	height: 50%;
	width: 20%;
	background: url("../assets/acc.svg") no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

[name="menu"] {
	display: none;
}

.menu-cont {
	width: calc(100% - 2px);
	height: calc(100vh - 6em);
	position:fixed ;
	
	top:3em;
	
	
	display: none;
	z-index: 3;
}
@media (orientation:landscape) and (max-height:900px){
	.menu-cont{height: calc(100vw - 6em - 5px);}
}
.menu-box {
	height: calc(100%);
	width: 60%;
	background: var(--body-bg);
	box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.4);
	padding: 1em;
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding-bottom: 2em;
}
#menu-show{
	display: block;
	animation: linear slideIn 50ms forwards;
}
.menu-box hr {
	border: 0.5px solid var(--border);
	outline: none;
}

.hidden{
	background-color: #0000002e;
	display: none;
	
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
@media(orientation:landscape) and (max-height:900px){
	.hidden{height:calc(100vw - 3em - 5px)}
}
/*
#menu:checked~.menu-cont>.hidden {
	display: block;
}
*/
@keyframes slideIn {
	from {
		transform: translateX(-60%)
	}

	to {
		transform: translateX(0)
	}
}

.nav-links {
	text-decoration: none;
	color: var(--primary-text-color);
	margin-left: 0.5em;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
}

#acc {
	margin-top: auto;
}

#bars-image {
	height: 100%;
	width: 100%;
}

.login-btn {
	margin-left: auto;
	box-sizing: content-box;
	height: 60%;
	
	border: none;
	
	background: var(--btn-bg);
	font-size:0.8em;
	color: var(--btn-text-color);
	border-radius:0.33em;
	font-family: varela, sans-serif;
	padding: 0 0.6em;
}