main{
	display: block;
	
	padding: 1em;
	box-sizing: border-box;
}
.main-section{height: 100%;width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}

.title{
width: 90%;

	display: flex;
	gap: 0.4em;
	align-items: center;
	flex-wrap: wrap;
	font-size:1.1em;
	
}
#hero{
	width: 100%;
	height: 15em;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	gap:0.5em;
	box-shadow:none;
	padding: 0;
}
#hero-image{
	width: 100%;
	box-shadow:var(--shadow);
}
#quick-facts-list,#traditions-list{
	margin-left: 2em;

}

section{
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	width:95%;
	gap:2em;
	
}

.topic-cont{
	box-shadow: var(--shadow);
	width:100%;
	padding: 1em;
border-radius: 0.5em;
box-sizing: border-box;
}

.title-skeleton,.skeleton{
	min-height: 5em;
	background: #E3E3E3A6;
	border-radius: 0.5em;
	padding: 0.5em;
	opacity: 0.7;
	position: relative;
	overflow: hidden;
	animation: blink 1s infinite;
box-shadow:none;
}
.title-skeleton::before,
.skeleton::before{
	content:"";
	height: 100%;
	width: 150px;
	top: 0;
	left: -150px;
	right: 0;
	bottom: 0;
	position: absolute;
background:linear-gradient(90deg,
	transparent,
	#f6f6f6,
	transparent
);
}
.skeleton{
	min-height: 15em;
	width:100%;
	width:100%;

}
.title-skeleton{
	height:6em;
}
[class*=skeleton-line]{
	height: 1.2em;
	margin-left: 1em;
	width: 90%;
	background-color: #E0E0E0;
	margin-top: 1em;
	border-radius: 0.2em;
}
.skeleton-line1{
	width: 60%;
}
.skeleton-line2{
	width: 30%;
}
.skeleton-line3{
	width: 90%;
}
.skeleton-line4{
	width: 70%;
}
.hide-shadow{box-shadow: none;}

@keyframes blink{
 0%{opacity: 0.7;}
 50%{opacity: 1;}
 100%{opacity: 0.7;}
}
.skeleton-title{width: 100%;}